.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Inline wrapping button group */
.columns-buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.8em;
}

.columns-buttons-wrap .button-container {
  margin: 0;
}

.columns-buttons-wrap .button-container a.button {
  margin: 0;
}

/* style variants */
@media (width >= 900px) {
  .columns.center-vertically > div {
    align-items: center;
  }
}