/* Kaiser Permanente - Gotham Font Family */

@font-face {
  font-family: 'Gotham 3r';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/gotham-3r.woff') format('woff');
}

@font-face {
  font-family: 'Gotham 4r';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/gotham-4r.woff') format('woff');
}

@font-face {
  font-family: 'Gotham 5r';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/gotham-5r.woff') format('woff');
}

@font-face {
  font-family: 'Gotham 7r';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/gotham-7r.woff') format('woff');
}
