.accordion-docs details {
  border: 1px solid #dde3e8;
  border-radius: 8px;
  overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-docs details + details {
  margin-top: var(--spacing-s);
}

.accordion-docs details p {
  margin-bottom: 0.8em;
}

.accordion-docs details summary {
  position: relative;
  padding: 16px 48px 16px 20px;
  cursor: pointer;
  list-style: none;
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-m);
  font-weight: 500;
  color: var(--color-blue);
  transition: background-color 0.2s ease;
}

.accordion-docs details[open] summary {
  background-color: var(--color-pale-blue);
  border-bottom: 1px solid #dde3e8;
}

.accordion-docs details summary:focus,
.accordion-docs details summary:hover {
  background-color: var(--color-pale-blue);
}

.accordion-docs details summary::-webkit-details-marker {
  display: none;
}

.accordion-docs details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-blue);
  border-width: 2px 2px 0 0;
  transition: transform 0.2s ease;
}

.accordion-docs details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-docs details .accordion-docs-item-body {
  padding: 20px;
}

.accordion-docs details .accordion-docs-item-body a:any-link {
  display: block;
  padding: 8px 0;
  color: var(--link-color);
  font-size: var(--body-font-size-s);
}

.accordion-docs details .accordion-docs-item-body a:hover {
  color: var(--link-hover-color);
}
